<div class="row">
    <article *ngIf="showArticle">
        <div class="column-12">
            <h1>{{char?.name}} Details</h1>
            <div class="row">
                <div class="column column-2">
                    <img src="{{char.thumbnail}}" alt="{{char.name}}" title="{{char.name}}">
                </div>
            
                <div class="column column-6">
                    <div class="row">
                        <div class="column column-12">
                            <span>id:</span> {{char.id}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="column column-12">
                            <span>Name:</span> {{char.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="column column-12">
                                <span>Description:</span> {{char.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>



<article *ngIf="!showArticle">
    <p>{{id}} Details Loading...</p>
</article>

<a routerLink=''><< back</a>